header {
  background-color: rgb(10, 48, 49);
  height: 100px;
  margin-bottom: 50px;
}

header section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

header section nav {
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  list-style: none;
  width: 500px;
}

header section nav .link {
  color: white;
  font-weight: 800;
  text-decoration: none;
  transition: 0.5s;
}

header section nav .link:hover {
  color: rgb(59, 193, 139);
}

.imgLogo {
  left: 10px;
  position: absolute;
  top: -13px;
}

.userField {
  background-color: white;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.274) 0 5px 15px;
  color: rgb(10, 48, 49);
  display: flex;
  font-weight: 800;
  height: 40px;
  position: absolute;
  right: 15px;
  width: 200px;
}

.userField img {
  background-color: rgb(59, 193, 139);
  border-radius: 50%;
  padding: 4px;
  position: relative;
  right: 20px;
  width: 32px;
}
