.form-search {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.form-search h2 {
  font-size: 2em;
}

.form-search label {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-search input {
  font-size: 18px;
  height: 40px;
  margin-bottom: 50px;
  width: 400px;
}

.form-search span {
  color: rgb(146, 146, 146);
  position: relative;
  right: 0;
  top: -40px;
}

.form-search button {
  background-color: rgb(64, 223, 100);
  cursor: pointer;
  height: 30px;
  width: 200px;
}

.form-search button:disabled {
  background-color: rgb(240, 240, 240);
}

.all-albums {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: space-around;
  padding: 0;
  width: 100%;
}

.individual-album {
  border: 1px solid rgb(179, 179, 179);
  height: 200px;
  list-style-type: none;
  margin-bottom: 50px;
  width: 300px;
}

.link {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 800;
  height: auto;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.link img {
  width: 150px;
}

.link span {
  margin-top: 10px;
}
